h1, h2, h3, h4, h5, h6{
    font-family: Impact, Charcoal, sans-serif;
}

p, span, a{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.button{
    padding: 12px;
    border: 2px solid;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 16px;
}

/* Scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: pink;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #0E81F5;
    }

   

.menu-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.09);
    z-index: 1;
}

.menu{
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1;
}


.nav-content{
  position: relative;
    display: none;
    padding: 0;
    background: rgba(0, 0, 0, .8);
}

.nav-content > li{
    list-style: none;
    padding: 5px 20px;
}

.nav-content > li > a{
    display: block;
    text-decoration: none;
    line-height: 32px;
    color: pink;
    -webkit-transition: .3s;
    transition: .3s;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 0 !important;
}

.nav-content > li > a:hover, .active{
    color: blue !important;
}

.toggler{
    padding: 10px 15px;
    background: rgba(0, 0, 0, .8);
    display: block;
    cursor: pointer;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: -ms-min-content;
    width: -o-min-content;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: pink;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-content #dropdown-menu{
  display: none;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 100%;
  border-left: 1px solid rgba(0,0,0,.3);
  padding: 10px 0;
}

.nav-content #dropdown-menu ul{
  list-style-type: none;
  padding: 0;
}

.nav-content #dropdown-menu ul li a{
  color: #F5F5F5;
}

#dropdown{
  position: relative;
}

#header .dropdown-item:hover, #header .dropdown-item.active{
  color: #11ABB0;
  background: transparent !important;
}

h1{
  color:blue;
  text-align:center;
  letter-spacing:0.3em;
  word-spacing:1em;
}
svg {
  background-color: blue;
  background-repeat: repeat;

 }

path {
  stroke-dasharray: 18;
  animation: draw 2s infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: 600;
  }
}

#header .dropdown-item:hover, #header .dropdown-item.active{
  color: #11ABB0;
  background: transparent !important;
}

#header > .row{
  min-height: 100vh;
  width: 100vw;
}

#about{
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px;
  background: blue;
  margin: auto;
  grid-template-areas:"header nav"
                      "header 1footer";
  
                      
}

#about h2{
  margin-bottom: 10px;
  color: #F5F5F5;
  margin: 150px;
  font-size: 40px;
}

#about p{
  color: white;
  margin: 150px;
  font-size: 20px;
}

#about img{
  width: 400px;
  margin: 100px;
}

body {
  margin: 0;
}
.content {
  width: 100vw;
  height: 10vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 30px;
}
.circle:before {
  animation: pulse 2s infinite ease-in-out;
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 30px;
    height: 30px;
    border-radius: 60%;
}
.circle.blue, .circle.blue:before {
  background: #030BFC;
    animation-delay: 0s;
}
.circle.yellow, .circle.yellow:before {
  background: #030BFC;
    animation-delay: 0.3s;
}
.circle.red, .circle.red:before {
  background: #030BFC;
    animation-delay: 0.6s;
}

@keyframes pulse{
    0%{
        transform: scale(0.5);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}


#work{
  padding: 80px 0;
  background-color:blue;
}

#work h2{
  color:white;
  text-align:center;
  letter-spacing:0.3em;
  word-spacing:1em;
  font-size: 40px;
}

#work h3{
  color:pink;
  text-align:center;
  letter-spacing:0.3em;
  word-spacing:1em;
  font-size: 25px;

}

#work img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


#work h5{
  font-size:20px;
  color:pink;
  text-align:left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-auto-rows: minmax(80px, auto);
  grid-gap: 80px;
  grid-auto-flow: dense;
  padding: 20px;
}

footer{
    background: blue;
    position: relative;
    padding: 80px;
}

.footer-content{
    text-align: center;
    max-width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-content p{
    color: white;
}

.footer-content a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #565656;
    -webkit-transition: .3s;
    transition: .3s;
}

.footer-content a:hover{
    color: #FFF;
}

.footer-content a + a{
    margin-left: 30px;
}

footer h4{
    color: pink;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}


@media (max-width: 768px){
  footer{
        padding: 80px 0;
    }

    .footer-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-content > div{
        width: 100% !important;
        margin-bottom: 45px;
    }

    .footer-content h4{
        margin-bottom: 20px;
    }

    .footer-content a + a{
        margin-left: 18px;
    }
}
